<div class="reset-password-header" mat-dialog-title>Reset Password</div>
<div>
  Please enter your email and we will send you a link to reset your password.
</div>
<mat-dialog-content>
  <input
    type="email"
    name="email"
    class="form-control email"
    matInput
    placeholder="Email"
  />
</mat-dialog-content>
<mat-dialog-actions>
  <button class="form-control reset-password-btn" mat-button>Submit</button>
  <div class="login">
      Already a member?
      <a class="login-btn" mat-menu-item (click)="openLoginModal();">
        Login!
      </a>
    </div>
</mat-dialog-actions>
