<div class="join-us-title">
  Help others discover their potential
</div>
<hr />
<img class="make-money" src="assets/img/makemoney.png" />
<div class="make-money-title">
  Earn Money
</div>
<div class="make-money-text">
  Earn Money every time someone seeks advice from you. Get paid via Paypal or Google Pay.
</div>
<img class="teach" src="assets/img/teach.png" />
<div class="teach-title">
  Inspire People
</div>
<div class="teach-text">
  Your experience makes you unique and people want to learn from you. Help
  someone take the next step in their career.
</div>
<img class="network" src="assets/img/network.png" />
<div class="network-title">
  Join Our Pro's
</div>
<div class="network-text">
  Take advantage of our active community of professionals and have a healthy
  competition for becoming the best mentor
</div>
