.fltrDropdowns {
    margin-left: 3px;
    margin-right:3px;
}

.fltrLabel {
    font-size: 14px;
    font-weight:400;
    margin-right: 3px;
    margin-left: 25px;
}

.search {
    position: relative;
    margin-left: 2%;
    width: 100%;
}

.search-btn {
    position: absolute;
    background-color: dodgerblue;
    color: white;
    border-radius: inherit;
    padding-top: 1px;
    padding-left: 10px;
    right: 15px;
}

.card {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
    margin-left: 10px;
    margin-right: 0;
}

.results {
    text-align: -webkit-center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}