.beapro {
  width: 100%;
  position: relative;
}

.beapro-btn {
  border-style: solid;
  border-width: 1px;
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
  width: 15%;
  position: absolute;
  z-index: 5;
  top: 60%;
  left: 25%;
}

.title {
    position: absolute;
    font-size: 40px;
    top: 32%;
    left: 14%;
    font-family: proximanova,helvetica neue,Helvetica,Arial,sans-serif;
}

.description {
    position: absolute;
    font-size: 18px;
    top: 44%;
    width: 42%;
    left: 13%;
    line-height: 26px;
}
