<mat-toolbar class="filters">

    <span class="fltrLabel">Sort by:</span>
    <select class="form-control fltrDropdowns">
      <option>Most Recent</option>
    </select>

    <span class="fltrLabel">Filter by:</span>
    <select class="form-control fltrDropdowns">
      <option>Categories</option>
    </select>

    <select class="form-control fltrDropdowns">
        <option>Profession</option>
    </select>

    <select class="form-control fltrDropdowns">
        <option>Professionals' Name</option>
    </select>

    <!-- <input
    type="search"
    name="search"
    class="form-control search"
    matInput
    placeholder="Search"
  />
  <button class="search-btn" mat-button>
      <mat-icon>search</mat-icon>
      Search
  </button> -->
  </mat-toolbar>
