.header {
    width: 100%;
    background-color: lightslategray;
    height: 125px;
}

.tabs {
    color: white;
}

.tab {
    font-size: 20px;
    font-weight: 400;
    width: 66%;
    margin-left: 6px;
    border-style: solid;
}

.clicked {
    text-decoration: underline;
}